@model eRPBusiness.Transport.DetalleCategoriaDTO
@using eRPBusiness.Helpers
@{
    ViewBag.Title = "Categoria";
}

<div class="panel panel-default">
    <div class="panel-body form-horizontal" id="panel">
        <div class="form-group">
            @Html.CRM().DropDownList("CategoriaId", Model.CategoriaId, @ViewBag.ListCategoria, "col-lg-10", "Categoria", "col-lg-2", new { @onchange= "onChangeSubCateg(this)" })
        </div>
        <div class="form-group">
            @Html.CRM().DropDownList("SubCategoriaId", Model.SubCategoriaId, @ViewBag.ListSubCategoria, "col-lg-10", "S. Categoria", "col-lg-2")
        </div>
        <div class="form-group">
            @Html.CRM().TextBoxFor(m => m.Nombre, "col-lg-10", "Nombre", "col-lg-2").Attributes(new { @placeholder = "Nombre" })
        </div>
        @Html.HiddenFor(m => m.DetalleCategoriaId)
    </div>
</div>
<script>
    function onChangeSubCateg(control) {

            $.post('@Url.Action("ListarSubDropListCategoria", "Categoria")',
            {
                categoriaId: control.value
            }, function (response) {
                $('#SubCategoriaId').find('option').remove().end();
                $("#SubCategoriaId").addItems(response.data);
                $("#SubCategoriaId").prop("disabled", false);
            });
    }

</script>