    @using eRPBusiness.Helpers
@{
    ViewBag.Title = "El perro pipon y el dios Perro";
}


<div class="row">
    <div class="col-lg-12">
        <nav class="btn-toolbar text-left titleuser">
            <a href="#" data-toggle="sidebar"><span class="glyphicon glyphicon-option-vertical"></span></a>
            <label> Lista de vehiculos</label>
        </nav>
    </div>
</div>
@Html.CRM().MenuBar("MenuBar", "onClickMenuBar", new ItemMenuBar[]{
                                                   new ItemMenuBar(MenuBarButtonType.New),
                                                   new ItemMenuBar(MenuBarButtonType.Edit),
                                                   new ItemMenuBar(MenuBarButtonType.Delete)
                                               })


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body form-horizontal">
                <div class="col-lg-11" id="panelSeach">
                    <div class="form-group">
                        @Html.CRM().TextBox("numeroplaca", null, "col-lg-4", "NumeroPlaca", "col-lg-2").Attributes(new { @maxlength = "100", @placeholder = "NumeroPlaca" })
                        @Html.CRM().TextBox("descripcion", null, "col-lg-4", "Descripcion", "col-lg-2").Attributes(new { @maxlength = "100", @placeholder = "Descripcion" })
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        @(Html.CRM().InputButton("buttonBuscar", new { Styles = "width:100%" }).ElementType(ButtonElementType.Button).Value("Buscar").OnClick("$('#jqGridBandeja').jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');"))
                    </div>
                    <div class="form-group">
                        @(Html.CRM().InputButton("buttonBuscar", new { Styles = "width:100%" }).ElementType(ButtonElementType.Button).Value("Limpiar").OnClick("$('input:text').val(''); $('#jqGridBandeja').jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');"))
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" id="bandeja">
        <div class="panel panel-default">
            <div class="panel-body" id="panel">
                <table id="jqGridBandeja"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var _heightGrid = getHeightForResize(75);
    var _widthPanel = $("#panel").width();

    $(document).ready(function () {
        $("#jqGridBandeja").jqGrid({

            url: '@Url.Action("ListarBandeja", "Vehiculo", new { area = "MG" })',
            mtype: "POST",
            postData: {
                numeroplaca: function () { return $("#numeroplaca").val() },
                descripcion: function () { return $("#descripcion").val() },
                //marca: function () { return $("Marca").val() },
                //constancia: function () { return $("#Costancia").val() },
            },
            datatype: "json",
            colModel: [
                { label: 'Id', name: 'VehiculoId', key: true, hidden: true },
                { label: 'Descripcion', name: 'Descripcion', width: 100 },
                { label: 'NumPlaca', name: 'NumeroPlaca', width: 100 },
                { label: 'Marca', name: 'Marca', width: 100 },
                { label: 'Constancia', name: 'Constancia', width: 100 }
            ],
            viewrecords: true,
            loadonce: true,
            height: _heightGrid - 250,
            width: _widthPanel,
            rowNum: 20,
            rownumbers: true, // show row numbers
            rowList: [10, 20, 30],
            pager: "#jqGridPager"
        });
    });


     function onClickMenuBar(control) {
        var postData = {
            editAction: '',
            vehiculoId: 0
        };
        var row = getGridSelectedRow("jqGridBandeja");
        switch (control) {
            case "@ButtonMenuBarActionConstant.NEW":
                postData.editAction = '@EditActionConstant.NEW';
                controllerGetAction('@Url.Action("Create", "Vehiculo", new { area = "MG" })', postData, 'workspace', true, true, null);
                break;
            case "@ButtonMenuBarActionConstant.EDIT":
                if (!isEmpty(row)) {
                    postData.editAction = '@EditActionConstant.EDIT';
                    postData.vehiculoId = row.VehiculoId;
                    controllerGetAction('@Url.Action("Create", "Vehiculo", new { area = "MG" })', postData, 'workspace', true, true, null);
                } else {
                    MsgAlert(2, 'Seleccione un vehiculo');
                }
                break;
        }
    }

</script>