@model eRPBusiness.Transport.MenuDTO
@using eRPBusiness.Helpers
<div class="row">
    <div class="col-lg-12">
        <nav class="btn-toolbar text-left titleuser">
            <a href="#" data-toggle="sidebar"><span class="glyphicon glyphicon-option-vertical"></span></a>
            <label>@ViewBag.Title</label>
        </nav>
    </div>
</div>
@Html.CRM().MenuBar("MenuBar", "onClickMenuBar", new ItemMenuBar[]{
                                                   new ItemMenuBar(MenuBarButtonType.Save),
                                                   new ItemMenuBar(MenuBarButtonType.Exit)
                                               })
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">

                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "form1" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.CRM().TextBoxFor(m => m.Nombre, "col-lg-4", "Nombre", "col-lg-2").Attributes(new { @maxlength = "100", @placeholder = "Nombre" })
                        </div>
                        <div class="form-group">
                            @Html.CRM().TextBoxFor(m => m.Area, "col-lg-10", "Area", "col-lg-2")
                        </div>
                        <div class="form-group">
                            @Html.CRM().TextBoxFor(m => m.Url, "col-lg-4", "Url", "col-lg-2").Attributes(new { @maxlength = "1000" })
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="form-group">
                    @Html.CRM().TextBoxFor(m => m.RutaImagen, "col-lg-10", "Ruta Imagen", "col-lg-2")
                </div>
                        <div class="form-group">
                    @Html.CRM().TextBox("MenuPadreId", null, "col-lg-10", "Menu Padre", "col-lg-2")
                </div>
                        <div class="form-group">
                            @Html.CRM().TextBox("Orden", null, "col-lg-2", "Orden", "col-lg-2")
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.MenuId)
                    @Html.HiddenFor(m => m.EditAction)

                }
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

     function onClickMenuBar(control) {
        switch (control) {
            case '@ButtonMenuBarActionConstant.SAVE':
                saveData(control);
                break;
            case '@ButtonMenuBarActionConstant.DELETE':

                break;
            case '@ButtonMenuBarActionConstant.EXIT':
                controllerGetAction('@Url.Action("Bandeja", "Opciones", new { area = "CG" })', null, 'workspace', false, false, null);
                break;
        }

    };

    function saveData(control) {

        if (isEmptyElement("Nombre", "Ingrese el Nombre"))
            return false;

        if (isEmptyElement("Area", "Ingrese la Area"))
            return false;

        if (isEmptyElement("Url", "Ingrese el Url"))
            return false;

        if (isEmptyElement("RutaImagen", "Ingrese la Ruta Imagen"))
            return false;

        if (isEmptyElement("Orden", "Ingrese el Orden"))
            return false;
         //if (isEmptyElement("Nombre", "Ingrese nombre"))
         //   return false;


        var form = $('#form1');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var jsonData = {
            __RequestVerificationToken: token,
            Header: JSON.stringify($('#form1').serializeObject()),
            //EditAction: '1'
            EditAction: $("#EditAction").val()
        };
        controllerSaveResponse("@Url.Action("Create", "Opciones", new { area = "CG" })", jsonData, false, false, function (response) {
            if (response.success) {
                MsgAlert(1, response.message);
                controllerGetAction('@Url.Action("Bandeja", "Opciones", new { area = "CG" })', null, 'workspace', false, false, null);
            } else {
                MsgAlert(4, response.message);
            }
        });
    }
</script>