@model eRPBusiness.Transport.PersonalDTO
@using eRPBusiness.Helpers
@{

}
<div class="row">
    <div class="col-lg-12">
        <nav class="btn-toolbar text-left titleuser">
            <a href="#" data-toggle="sidebar"><span class="glyphicon glyphicon-option-vertical"></span></a>
            <label>@ViewBag.Title</label>
        </nav>
    </div>
</div>
@Html.CRM().MenuBar("MenuBar", "onClickMenuBar", new ItemMenuBar[]{
                                                   new ItemMenuBar(MenuBarButtonType.Save),
                                                   new ItemMenuBar(MenuBarButtonType.Exit)
                                               })
<div class="row">

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body form-horizontal">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "form1" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.CRM().TextBoxFor(m => m.Nombres, "col-lg-10", "Nombres", "col-lg-2").Attributes(new { @placeholder = "Nombres" })
                        </div>
                        <div class="form-group">
                            @Html.CRM().TextBoxFor(m => m.Apellidos, "col-lg-10", "Apellidos", "col-lg-2").Attributes(new { @placeholder = "Apellidos" })
                        </div>
                        <div class="form-group">
                            @Html.CRM().TextBoxFor(m => m.NumeroDocumento, "col-lg-4", "DNI", "col-lg-2").Attributes(new { @placeholder = "DNI", maxlength = "8" })
                            @Html.CRM().DateTimePickerFor(m => m.FechaNacimiento, "col-lg-4", "F. Nacimiento", "col-lg-2").PickerType(DateTimePickerType.Date).Attributes(new { @placeholder = "dd/mm/yyyy"})
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.CRM().TextBoxFor(m => m.Telefono, "col-lg-4", "Telefono", "col-lg-2").Attributes(new { @placeholder = "Telefono", maxlength = "10" })
                            @Html.CRM().TextBoxFor(m => m.Celular, "col-lg-4", "Celular", "col-lg-2").Attributes(new { @placeholder = "Celular", maxlength = "10" })
                        </div>
                        <div class="form-group">
                            @Html.CRM().TextBoxFor(m => m.Correo, "col-lg-10", "Email", "col-lg-2").Attributes(new { @placeholder = "Email" })

                        </div>
                      
                    </div>
                    @Html.HiddenFor(m => m.PersonalId)
                    @Html.HiddenFor(m => m.EditAction)
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
  
    });
    function onClickMenuBar(control) {
        switch (control) {
            case '@ButtonMenuBarActionConstant.SAVE':
                saveData(control);
                break;
            case '@ButtonMenuBarActionConstant.DELETE':

                break;
            case '@ButtonMenuBarActionConstant.EXIT':
                controllerGetAction('@Url.Action("Bandeja", "Personal", new { area = "RHH" })', null, 'workspace', false, false, null);
                break;
        }

    };
    function saveData(key) {

        if (isEmptyElement("Nombres", "Ingrese  el campo nombres"))
            return false;

        if (isEmptyElement("Apellidos", "Ingrese el campo apellidos"))
            return false;

        if (isEmptyElement("NumeroDocumento", "Ingrese el campo numero de documento"))
            return false;

        if (isEmptyElement("Telefono", "Ingrese el campo telefono"))
            return false;

        if (isEmptyElement("Celular", "Ingrese el campo celular"))
            return false;

        var form = $('#form1');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var jsonData = {
            __RequestVerificationToken: token,
            Header: JSON.stringify($('#form1').serializeObject()),
            EditAction: $("#EditAction").val()
        };
        controllerSaveResponse("@Url.Action("Create", "Personal", new { area = "RHH" })", jsonData, false, false, function (response) {
            if (response.success) {
                MsgAlert(1, response.message);
                controllerGetAction('@Url.Action("Bandeja", "Personal", new { area = "RHH" })', null, 'workspace', false, false, null);
            } else {
                MsgAlert(4, response.message);
            }
        });
    };



</script>

