@using eRPBusiness.Helpers
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <nav class="btn-toolbar text-left titleuser">
            <a href="#" data-toggle="sidebar"><span class="glyphicon glyphicon-option-vertical"></span></a>
            <label> Listado Contactos</label>
        </nav>
    </div>
</div>
@Html.CRM().MenuBar("MenuBar", "onClickMenuBar", new ItemMenuBar[]{
                                       new ItemMenuBar(MenuBarButtonType.New),
                                       new ItemMenuBar(MenuBarButtonType.Edit),
                                       new ItemMenuBar(MenuBarButtonType.Delete,true)
                                   })
<div class="row">

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body form-horizontal">
                <div class="col-lg-11" id="panelSeach">
                    <div class="form-group">
                        @Html.CRM().TextBox("nombre", null, "col-lg-4", "Nombre", "col-lg-2").Attributes(new { @maxlength = "100" }).Attributes(new { @placeholder = "Nombre" })
                        @Html.CRM().TextBox("numDocumento", null, "col-lg-4", "Num. Documento", "col-lg-2").Attributes(new { @maxlength = "100" }).Attributes(new { @placeholder = "Documento" })
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        @(Html.CRM().InputButton("buttonBuscar", new { Styles = "width:100%" }).ElementType(ButtonElementType.Button).Value("Buscar").OnClick("$('#jqGridBandeja').jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');"))
                    </div>
                    <div class="form-group">
                        @(Html.CRM().InputButton("buttonBuscar", new { Styles = "width:100%" }).ElementType(ButtonElementType.Button).Value("Limpiar").OnClick("$('input:text').val(''); $('#jqGridBandeja').jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');"))
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" id="bandeja">
        <div class="panel panel-default">
            <div class="panel-body" id="panel">
                <table id="jqGridBandeja"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    var _heightGrid = getHeightForResize(75);
    var _widthPanel = $("#panel").width();
    $(document).ready(function () {

        $("#jqGridBandeja").jqGrid({
            url: '@Url.Action("ListarBandeja", "Contacto", new { area = "AM" })',
            mtype: "POST",
            postData: {
                nombre: function () { return $("#nombre").val() },
                numDocumento: function () { return $("#numDocumento").val() }
            },
            datatype: "json",
            colModel: [
                { label: 'Id', name: 'ContactoId', key: true, hidden: true },
                { label: 'Nombre', name: 'NombreContacto', width: 150 },
                { label: 'Nro Documento', name: 'NumeroDocumentoContacto', width: 40 },
                { label: 'Telefono', name: 'TelefonoContacto', width: 40 },
                { label: 'Celular', name: 'CelularContacto', width: 40 },
                { label: 'Email', name: 'EmailContacto', width: 100 },
                { label: 'Dirección', name: 'DireccionContacto', width: 100 }
            ],
            viewrecords: true,
            loadonce: true,
            height: (_heightGrid - 240),
            width: _widthPanel,
            rowNum: 20,
            rowList: [10, 20, 30],
            rownumbers: true, // show row numbers
            pager: "#jqGridPager"
        });



    });

    function onClickMenuBar(control) {
        var postData = {
            editAction: '',
            almacenId: 0
        };
        var row = getGridSelectedRow("jqGridBandeja");
        switch (control) {
            case "@ButtonMenuBarActionConstant.NEW":
                postData.editAction = '@EditActionConstant.NEW';
                controllerGetAction('@Url.Action("Create", "Contacto", new { area = "AM" })', postData, 'workspace', true, true, null);
                break;
            case "@ButtonMenuBarActionConstant.EDIT":
                if (!isEmpty(row)) {
                    postData.editAction = '@EditActionConstant.EDIT';
                    postData.contactoId = row.ContactoId;
                    controllerGetAction('@Url.Action("Create", "Contacto", new { area = "AM" })', postData, 'workspace', true, true, null);
                } else {
                    MsgAlert(2, 'Seleccione un cliente');
                }
                break;
        }
    };



</script>

