@model eRPBusiness.Transport.FormaPagoDTO
@using eRPBusiness.Helpers
@{
    ViewBag.Title = "Categoria";
}

<div class="panel panel-default">
    <div class="panel-body form-horizontal" id="panel">
        <div class="form-group">
            @Html.CRM().TextBoxFor(m => m.Codigo, "col-lg-4", "Nro Serie", "col-lg-2").Attributes(new { @placeholder = "Codigo", @maxlength = "3" })
        </div>
        <div class="form-group">
            @Html.CRM().TextBoxFor(m => m.Nombre, "col-lg-10", "Nombre", "col-lg-2").Attributes(new { @placeholder = "Nombre" })
        </div>
        <div class="form-group">
            @Html.CRM().TextBoxFor(m => m.Descripcion, "col-lg-10", "Descripcion", "col-lg-2").Attributes(new { @placeholder = "Descripcion" })
        </div>
        <div class="form-group">
            @Html.CRM().TextBoxFor(m => m.TipoPeriodo, "col-lg-10", "T. Periodo", "col-lg-2").Attributes(new { @placeholder = "Tipo Periodo" })
        </div>
        <div class="form-group">
            @Html.CRM().TextBoxFor(m => m.Tipo, "col-lg-10", "Tipo", "col-lg-2").Attributes(new { @placeholder = "Tipo" })
        </div>
        @Html.HiddenFor(m => m.FormaPagoId)
    </div>
</div>
