@using eRPBusiness.Helpers
@using eRPBusiness.Common
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <nav class="btn-toolbar text-left titleuser">
            <a href="#" data-toggle="sidebar"><span class="glyphicon glyphicon-option-vertical"></span></a>
            <label>Unidad Medida</label>
        </nav>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body form-horizontal">
                
                <div class="col-lg-1">
                    <div class="form-group">
                        @(Html.CRM().InputButton("buttonBuscar", new { Styles = "width:100%" }).ElementType(ButtonElementType.Button).Value("Buscar").OnClick("$('#jqGridBandeja').jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');"))
                    </div>
                    <div class="form-group">
                        @(Html.CRM().InputButton("buttonBuscar", new { Styles = "width:100%" }).ElementType(ButtonElementType.Button).Value("Limpiar").OnClick("$('input:text').val(''); $('#jqGridBandeja').jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');"))
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" id="bandeja">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.CRM().MenuBar("UnidadMedidaMenuBar", "onClickUnidadMedidaMenuBar", new ItemMenuBar[]{
                                                new ItemMenuBar(MenuBarButtonType.New,  false ),
                                                new ItemMenuBar(MenuBarButtonType.Edit,true),
                                                new ItemMenuBar(MenuBarButtonType.Save,true),
                                                new ItemMenuBar(MenuBarButtonType.Cancel,true)
                                            }, MenuBarType.Small)
            </div>
            <div class="panel-body" id="panel">
                <table id="jqGridBandeja"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
    @Html.Hidden("esNuevo")
</div>

@using (Html.CRM().Popup("divUnidadMedida", "Unidad Medida", "onClickOkUnidaMedida", SizePopup.Default))
{
    <div id="divUnidaMedidaContent"></div>
}

<script type="text/javascript">
    var _heightGrid = getHeightForResize(75);
    var _widthPanel = $("#panel").width();
    $(document).ready(function () {


        $("#jqGridBandeja").jqGrid({
            url: '@Url.Action("ListarBandeja", "UnidadMedida", new { area = "MG" })',
            postData:{
                codigo: function () { return $("#codigo").val() },
                nombre: function () { return $("#nombre").val() },
            },
            mtype: "POST",
            datatype: "json",
            colModel: [
                { label: '', name: 'UnidadMedidaId', hidden: true },
                { label: 'Codigo Sunat', name: 'Codigo', width: 8, edittype: 'text', editable: true,align:'center', editoptions: { maxlength: 4, placeholder: "Código" } },
                { label: 'Nombre', name: 'Nombre', width: 30, edittype: 'text', editable: true, editoptions: {placeholder: "Nombre" } },
                { label: 'Abreaviatura', name: 'Abreaviatura', width: 10, editable: true, editoptions: { placeholder: "Abreviatura" } }
            ],
            viewrecords: true,
            loadonce: true,
            height: (_heightGrid - 200),
            width: _widthPanel,
            rowNum: 20,
            onSelectRow: function (rowid) {
                $("#UnidadMedidaMenuBar").menuBar({
                    button: '@ButtonMenuBarNameConstant.EDIT',
                    disabled: false
                });

            },
            rowList: [10, 20, 30],
            pager: "#jqGridPager"
        });

        $("#divUnidadMedida").on('show.bs.modal', function () {
            $(this).find('input:text').val('');
            var row = getGridSelectedRow("jqGridBandeja");
            var postData = {
                editAction: $("#esNuevo").val(),
                unidadMedidaId: row.UnidadMedidaId
            };
            controllerGetAction('@Url.Action("UnidadMedidaEdit")', postData, 'divUnidaMedidaContent', false, false, null);
        });
        $('#divUnidadMedida').on('hidden.bs.modal', function (e) {
            $('#divUnidaMedidaContent').empty();
        });

    });


    function onClickUnidadMedidaMenuBar(control) {
        switch (control) {
            case "@ButtonMenuBarActionConstant.NEW":
                $("#esNuevo").val('@DigitosConstante.UNO');
                //var newRowId = gridRowCount("jqGridBandeja");
                //var parameters = {
                //    rowID: newRowId + 1,
                //    initdata: {
                //    },
                //    position: "first"
                //};
                //$("#jqGridBandeja").jqGrid('addRow', parameters);
                //actionNuevo();
                $("#divUnidadMedida").modal('show');
             break;
            case "@ButtonMenuBarActionConstant.SAVE":
                var rowId = getGridSelectedRowId('jqGridBandeja');
                var row = getGridSelectedRow('jqGridBandeja');
                if (isEmptyElement(rowId + "_Codigo", "Ingrese el campo codigo"))
                    return false;

                if (isEmptyElement(rowId + "_Nombre", "Ingrese el campo nombre"))
                    return false;

                $("#jqGridBandeja").jqGrid('saveRow', rowId, {url: 'clientArray', aftersavefunc: function (id, response, options){
                    var row = getGridSelectedRow("jqGridBandeja");

                    var postData = {
                        Row: JSON.stringify(row),
                        EditAction: $("#esNuevo").val()
                    };
                    controllerSaveResponse('@Url.Action("Create", "UnidadMedida")', postData, true, true, function (response) {
                        if (response.success) {
                            MsgAlert(1, response.message);
                            jQuery("#jqGridBandeja").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        } else {
                            MsgAlert(4, response.message);
                        }
                    });
                }
                });
                actionSave();
                break;
            case "@ButtonMenuBarActionConstant.EDIT":
                //actionEdit();
                $("#esNuevo").val('@DigitosConstante.DOS');
                var row = getGridSelectedRow('jqGridBandeja');
                if (!isEmpty(row)) {
                    //var rowId = getGridSelectedRowId("jqGridBandeja");
                    //$('#jqGridBandeja').jqGrid('editRow', rowId);
                    //lastsel=rowId;
                    $("#divUnidadMedida").modal('show');
                }else{
                    MsgAlert(3, 'Selccione un registro');
                }

                break;
            case '@ButtonMenuBarActionConstant.CANCEL':
                actionCancel();
                var rowid = getGridSelectedRowId("jqGridBandeja");
                $('#jqGridBandeja').setGridParam({ datatype: 'json' });
                $('#jqGridBandeja').trigger('reloadGrid');
                lastsel = 0;
                break;
        }
    }

    function onClickOkUnidaMedida() {
        if (isEmptyElement('Codigo', 'Ingrese codigo'))
            return false;

        if (isEmptyElement('Nombre', 'Ingrese nombre'))
            return false;

        var postData = {
            Header: JSON.stringify($('#divUnidaMedidaContent').serializeObject()),
            EditAction: $("#esNuevo").val()
        };

        controllerSaveResponse('@Url.Action("Create", "UnidadMedida")', postData, false, false, function (response) {
            if (response.success) {
                $("#jqGridBandeja").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                $("#divUnidadMedida").modal('hide');
                MsgAlert(1, response.message);
            } else {
                MsgAlert(4, response.message);
            }
        });
    }


    function actionNuevo()
    {
        $("#UnidadMedidaMenuBar").menuBar({
            button: '@ButtonMenuBarNameConstant.EDIT',
            disabled: true
        });

        $("#UnidadMedidaMenuBar").menuBar({
            button: '@ButtonMenuBarNameConstant.NEW',
            disabled: true
        });

        $("#UnidadMedidaMenuBar").menuBar({
            button: '@ButtonMenuBarNameConstant.CANCEL',
            disabled: false
        });

        $("#UnidadMedidaMenuBar").menuBar({
            button: '@ButtonMenuBarNameConstant.SAVE',
            disabled: false
        });

    }

    function actionEdit() {
        $("#UnidadMedidaMenuBar").menuBar({
            button: '@ButtonMenuBarNameConstant.NEW',
            disabled: true
        });
        $("#UnidadMedidaMenuBar").menuBar({
            button: '@ButtonMenuBarNameConstant.EDIT',
            disabled: true
        });

        $("#UnidadMedidaMenuBar").menuBar({
            button: '@ButtonMenuBarNameConstant.SAVE',
            disabled: false
        });

        $("#UnidadMedidaMenuBar").menuBar({
            button: '@ButtonMenuBarNameConstant.CANCEL',
            disabled: false
        });
    }

    function actionSave() {
         $("#UnidadMedidaMenuBar").menuBar({
            button: '@ButtonMenuBarNameConstant.NEW',
            disabled: false
        });
        $("#UnidadMedidaMenuBar").menuBar({
            button: '@ButtonMenuBarNameConstant.EDIT',
            disabled: true
        });
        $("#UnidadMedidaMenuBar").menuBar({
            button: '@ButtonMenuBarNameConstant.SAVE',
            disabled: true
        });
        $("#UnidadMedidaMenuBar").menuBar({
            button: '@ButtonMenuBarNameConstant.CANCEL',
            disabled: true
        });
    }

        function actionCancel() {
            $("#UnidadMedidaMenuBar").menuBar({
                button: '@ButtonMenuBarNameConstant.EDIT',
                disabled: true
            });

            $("#UnidadMedidaMenuBar").menuBar({
                button: '@ButtonMenuBarNameConstant.SAVE',
                disabled: true
            });
            $("#UnidadMedidaMenuBar").menuBar({
                button: '@ButtonMenuBarNameConstant.NEW',
                disabled: false
            });
            $("#UnidadMedidaMenuBar").menuBar({
                button: '@ButtonMenuBarNameConstant.CANCEL',
                disabled: true
            });
        }
</script>

